*.pdf
*.asv
*.png
behavioral_analysis/production_results/dataframes/*.tsv
behavioral_analysis/perception/production_results/ancova/plots
behavioral_analysis/perception/perception_results/raw_dataframes/*.tsv
perception/perception_results/anovas/twoway/
behavioral_analysis/ntfd_results
imaging_analysis/events
imaging_analysis/events_drbb
imaging_analysis/atlases

# Byte-compiled / optimized / DLL files
__pycache__/

# PyInstaller
*.spec

# Vscode
.vscode/


